<header ng-include="'/views/static/header.html'"></header>


<div class="container main" >
<div class="acception_wraper">
Данная профилактическая онлайн-программа направлена на оказание поддержки людям, живущим с ВИЧ-инфекцией. Так как Вы не обследовались когда-либо на ВИЧ, данная программа Вам не подходит. Спасибо, что уделили время нашей программе. Если Вас интересует какая-либо дополнительная информация о ВИЧ/СПИД, Вы можете  ознакомиться с ней в разделе <a href="/user_{{user.id}}/links">«Полезные ссылки»</a> 
</div>
</div>
 <footer ng-include="'/views/static/footer.html'"></footer>