<aside class="hidden">
    <header>
        <img src="img/logo.png" class="logo">
    </header>

    <div class="logout-panel">
        <span>Здравствуйте, {{user.nick}}</span>
        <button ng-click="logout()">Выйти</button>
    </div>

    <nav ng-include="nav"></nav>

    <footer>
        <span>При поддержке гранта РГНФ №321</span>
    </footer>
</aside>
<div class="container translated block">
    <div class="questions">
        <a class="home" href="/user_{{user.id}}/blocks">
            <i class="material-icons">chevron_left</i>
            <span>Блоки</span>
        </a>
        <h1>Блок {{block.content_id}}. {{block.name}}.</h1>
        <div class="question_wrapper" ng-repeat="question in questions">
            <span>{{question.q}}. {{question.text}}</span>
            <div class="checkbox" ng-if="question.answers.length != 1" ng-repeat="answer in question.answers">
                <input type="radio" name="{{question.name}}" value="{{answer.value}}">
                <label for="{{question.name}}">{{answer.text}}</label>
            </div>
            <input ng-if="question.answers.length == 1" type="text" maxlength="{{question.answers[0].symbols}}">
        </div>
    </div>
</div>