<aside class="hidden">
    <header>
        <img src="img/logo.png" class="logo">
    </header>

    <div class="logout-panel">
        <span>Здравствуйте, {{user.nick}}</span>
        <a ng-click="logout()">Выйти</a>
    </div>

    <nav ng-include="nav"></nav>

    <footer>
        <span>При поддержке гранта РГНФ №321</span>
    </footer>
</aside>
<div class="container translated block">
<!--    <div class="questions" ng-if="user.block == block.id">-->
    <div class="questions" ng-if="user.block == block.id">
        <a class="home" href="/user_{{user.id}}/blocks">
            <i class="material-icons">chevron_left</i>
            <span>Блоки</span>
        </a>
        <h1>Блок {{block.content_id}}. {{block.name}}.</h1>
        <form novalidate name="block_form" ng-submit="block_submit(questions)">

            <div ng-repeat="question in questions">

                <div ng-if="$index >= found_table[0] && $index <= found_table[1]" class="table" ng-class="{ 'start' : $parent.$index == found_table[0], 'end' : $parent.$index == found_table[1] }">
                    <div>{{question.text}}</div>
                    <div ng-repeat="answer in question.answers">
                        <span ng-if="$parent.$index == found_table[0]">{{answer.text}}</span>
                        <input type="radio" name="{{question.name}}_{{question.q}}" value="{{answer.value}}" ng-model="question.user_answers[question.id]">
                    </div>
                </div>

                <div class="question_wrapper" ng-if="$index < found_table[0] || $index > found_table[1] || found_table.length == 0">
                    <span>{{question.text}}</span>
                    <div class="checkbox" ng-if="question.answers.length != 1 && answer.options.indexOf('explanation') != 0" ng-repeat="answer in question.answers" ng-class="{ 'other' : answer.options.indexOf('other') == 0 }">
                        <input ng-if="question.options.indexOf('checkbox') == null" type="radio" name="{{question.name}}_{{question.q}}" id="{{answer.id}}" value="{{answer.value}}" ng-model="question.user_answers[question.id]" required />

                        <input ng-if="question.options.indexOf('checkbox') != null" type="checkbox" id="{{answer.id}}" value="{{answer.value}}" ng-model="question.user_answers.multiple[answer.id]" ng-required="!question.user_answers.multiple" />

                        <label for="{{answer.id}}">{{answer.text}}</label>

                    </div>

                    <div class="explanation" ng-if="question.answers[question.answers.length - 1].options.indexOf('explanation') == 0 && question.user_answers[question.id] == question.answers[question.answers.length - 2].value">
                        <input type="text" maxlength="255" ng-model="question.user_answers.text[question.id]">
                    </div>

                    <div class="explanation" ng-if="question.answers[question.answers.length - 1].options.indexOf('explanation') == 0 && question.user_answers.multiple[question.answers[question.answers.length - 1].id - 1]">
                        <input type="text" maxlength="255" ng-model="question.user_answers.text[question.id]">
                    </div>
                    <input ng-if="question.answers.length == 1" type="text" maxlength="{{question.answers[0].symbols}}" ng-model="question.user_answers[question.id]" required>

                </div>

            </div>

            <input type="submit" value="Далее" ng-disabled="block_form.$invalid" />
        </form>
    </div>

<!--
    <div class="questions" ng-if="user.block > block.id">
        <a class="home" href="/user_{{user.id}}/blocks">
            <i class="material-icons">chevron_left</i>
            <span>Блоки</span>
        </a>
        <h1>Ваши ответы на вопросы блока "{{block.name}}".</h1>
    </div>
-->
</div>