<aside>
    <header>
        <img src="img/logo.png" class="logo">
    </header>

    <div class="logout-panel">
        <span>Здравствуйте, {{user.nick}}</span>
        <button ng-click="logout()">Выйти</button>
    </div>

    <nav ng-include="nav"></nav>

    <footer>
        <span>При поддержке гранта РГНФ №321</span>
        <span class="underlined"><a href="#">Информированное согласие на участие</a></span>
    </footer>
</aside>
<div class="container blocks">
    <a ng-repeat="block in blocks" href="/user_{{user.id}}/block_{{block.id}}">
        <div class="block">
            <i ng-if="user.block > block.id" class="material-icons icon">check</i>
            <i ng-if="user.block < block.id" class="material-icons icon">lock_outline</i>
            <i ng-if="user.block == block.id" class="material-icons icon">schedule</i>
            <span class="id">Блок {{block.id}}.</span>
            <span class="name">{{block.name}}.</span>
        </div>
    </a>
</div>