<!--
<aside class="hidden">
    <header>
        <img src="img/logo.png" class="logo">
    </header>

    <div class="logout-panel">
        <span>Здравствуйте, {{user.nick}}</span>
        <a ng-click="logout()">Выйти</a>
    </div>

    <nav ng-include="nav"></nav>

    <footer>
        <span>При поддержке гранта РГНФ №321</span>
    </footer>
</aside>
-->
<div class="progress_bar" ng-if="block.content_id < 9">
    <div class="progress" ng-style="progress"></div>
</div>
<div class="container translated block">
<!--    <div class="questions" ng-if="user.block == block.id">-->
    <div ng-class="{ 'questions' : (user.block < 8) || (user.block == 8 && user.page <= 34), 'intervention' : !((user.block < 8) || (user.block == 8 && user.page <= 34)) }" >
        <a class="home" href="/user_{{user.id}}/blocks">
            <i class="material-icons">chevron_left</i>
            <span>Блоки</span>
        </a>
        <!--Вернуться назад - временная функция-->
        <button ng-if="user.block > 1 || user.page > 1" class="go_back" ng-click="go_back()">Назад на страницу</button>
        <!--------------------------------------->
        <form ng-if="block.content_id < 9" novalidate name="block_form" ng-submit="block_submit(questions)">

            <div ng-repeat="question in questions" ng-init="q_index = $index" ng-hide="question.options.indexOf('ifnot') === 0 && (!questions[q_index - 1].user_answers[questions[q_index - 1].id].value || questions[q_index - 1].user_answers[questions[q_index - 1].id].value == question.ifnot.prev_val)" class="question">
<!--            <div ng-repeat="question in questions" ng-init="q_index = $index" ng-hide="question.options.indexOf('ifnot') == 0 && questions[q_index - 1].user_answers[questions[q_index - 1].id].value == question.ifnot.prev_val">-->
                <p class="question_text" ng-bind-html="question.text_before"></p>
                <img ng-if="question.options.indexOf('img') == 0" ng-src="../img/{{question.img.src}}" ng-style="question.img.style" />
<!--                 Table layout -->
                <div ng-if="$index >= found_table[0] && $index <= found_table[1]" class="table experiment" ng-class="{ 'start' : $parent.$index == found_table[0], 'end' : $parent.$index == found_table[1], 'invalid' : block_form.{{question.name}}_{{question.q}}.$invalid || block_form{{question.name}}_{{question.q}}.$pristine }">
                    <div>{{question.text}}</div>
                    <div ng-repeat="answer in question.answers" class="t_row">
                        <span ng-if="$parent.$index == found_table[0]">{{answer.text}}</span>
                        <input type="radio" name="{{question.name}}_{{question.q}}" value="{{answer.value}}" ng-model="question.user_answers[question.id]" required>
                    </div>
                </div>

                <div class="question_wrapper" ng-if="$index < found_table[0] || $index > found_table[1] || found_table.length == 0" ng-class="{ 'invalid' : block_form.{{question.name}}_{{question.q}}.$invalid || block_form{{question.name}}_{{question.q}}.$pristine || (question.options.indexOf('checkbox') == 0 && no_answers(q_index)) }">
                    <span ng-bind="question.key" class="qid"></span><span ng-bind-html="question.text"></span>
                    <div class="checkbox" ng-if="question.answers.length != 1" ng-repeat="answer in question.answers" ng-init="a_index = $index" ng-class="{ 'other' : answer.options.indexOf('other') == 0, 'explanation' : answer.options.indexOf('explanation') == 0 }">
<!--                    Radio layout-->
                        <input ng-if="question.options.indexOf('checkbox') != 0 && answer.options.indexOf('explanation') != 0" type="radio" name="{{question.name}}_{{question.q}}" id="{{answer.id}}" ng-value="{ 'value' : answer.value, 'options' : answer.options }" ng-model="question.user_answers[question.id]" ng-change="make_default(q_index, question.answers)" required />
<!--                    Checkbox layout-->
                        <input ng-if="question.options.indexOf('checkbox') == 0 && answer.options.indexOf('explanation') != 0" type="checkbox" id="{{answer.id}}" value="{{answer.value}}" ng-model="question.user_answers.multiple[answer.id]" ng-required="no_answers(q_index)" ng-change="reformat_answers(q_index)"/>

                        <label ng-if="answer.options.indexOf('explanation') != 0" for="{{answer.id}}">{{answer.text}}</label>

                        <div ng-if="question.options.indexOf('checkbox') == 0 && question.answers[a_index].options.indexOf('explanation') == 0 && question.user_answers.multiple[answer.id - 1]" ng-class="{ 'invalid' : !question.user_answers.multiple[answer.id] || question.user_answers.multiple[answer.id] === '' }">
                            <label ng-if="question.answers[a_index].options.indexOf('explanation') == 0 && question.user_answers.multiple[answer.id - 1]" for="{{answer.id}}"><i>{{answer.text}}</i></label>

    <!--                    Explanation text field for checkbox-->
                            <input type="text" class="explanation" ng-if="question.options.indexOf('checkbox') == 0 && question.answers[a_index].options.indexOf('explanation') == 0 && question.user_answers.multiple[answer.id - 1]" type="text" maxlength="255" ng-model="question.user_answers.multiple[answer.id]" ng-change="reformat_explanation(q_index, answer.id)" required>
                        </div>

                        <div ng-if="answer.options.indexOf('explanation') == 0 && question.user_answers[question.id].value == question.answers[a_index - 1].value" ng-class="{ 'invalid' : !question.user_answers['explanation_' + answer.id] || question.user_answers['explanation_' + answer.id] === '' }">
                            <label ng-if="question.answers[a_index].options.indexOf('explanation') == 0 && question.user_answers.multiple[answer.id - 1]" for="{{answer.id}}"><i>{{answer.text}}</i></label>

    <!--                    Explanation text field for radio-->
                            <input ng-if="answer.options.indexOf('explanation') == 0 && question.user_answers[question.id].value == question.answers[a_index - 1].value" type="text" maxlength="255" ng-model="question.user_answers['explanation_' + answer.id]" ng-change="remove_explanation(q_index, answer.id)" required>
                        </div>

                    </div>

<!--                    Text field layout-->
                    <input ng-if="question.answers.length == 1" type="text" maxlength="{{question.answers[0].symbols}}" ng-model="question.user_answers[question.id]" name="{{question.name}}_{{question.q}}" id="id_{{question.name}}_{{question.q}}" ng-pattern="/^\d+$/" isless="{{q_index}}" required>
<!--                    <p ng-bind="block_form.{{question.name}}_{{question.q}}.max"></p>-->
                    <span ng-if="question.answers.length == 1" ng-bind-html="question.answers[0].text_after"></span>
                    <div ng-if="question.answers.length == 1" ng-show="block_form.{{question.name}}_{{question.q}}.$error.pattern" class="error">Введите число</div>
                    <div ng-show="block_form.{{question.name}}_{{question.q}}.$error.isless" class="error">Это невозможно!</div>

                </div>

                <p class="question_text" ng-bind-html="question.text_after"></p>

            </div>
            <input type="submit" value="Далее" ng-disabled="block_form.$invalid" class="next_question" />
        </form>

        <form ng-if="block.content_id == 9 && user.page % 2 !== 0 && user.page < 35" novalidate name="intervention_form" ng-submit="block_submit(questions)">
            <p class="question_text" ng-bind-html="questions[0].text_before"></p>
            <img ng-if="questions[0].options.indexOf('img') == 0" ng-src="../img/{{questions[0].img.src}}" ng-style="questions[0].img.style" />

            <div class="question_wrapper" ng-class="{ 'invalid' : intervention_form.{{questions[0].name}}_{{questions[0].q}}.$invalid || intervention_form.{{questions[0].name}}_{{questions[0].q}}.$pristine }">
                <span ng-bind-html="questions[0].text"></span>
                <div class="checkbox" ng-repeat="answer in questions[0].answers" ng-init="a_index = $index">
<!--                    Radio layout-->
                    <input ng-if="questions[0].options.indexOf('checkbox') != 0" type="radio" name="{{questions[0].name}}_{{questions[0].q}}" id="{{answer.id}}" ng-value="{ 'value' : answer.value }" ng-model="questions[0].user_answers[questions[0].id]" required />
<!--                    Checkbox layout-->
                    <input ng-if="questions[0].options.indexOf('checkbox') == 0" type="checkbox" id="{{answer.id}}" value="{{answer.value}}" ng-model="questions[0].user_answers.multiple[answer.id]" ng-required="no_answers(0)" ng-change="reformat_answers(0)"/>

                    <label for="{{answer.id}}">{{answer.text}}</label>
                </div>
            </div>

            <input type="submit" value="Узнать правильный ответ" ng-disabled="intervention_form.$invalid"  class="next_question"/>
        </form>

        <div ng-if="block.content_id == 9 && user.page % 2 === 0 && user.page < 35" class="intervention_questions">
            <p compile="html_text | to_trusted"></p>
           
        </div>
		 <div ng-if="block.content_id == 9 && user.page % 2 === 0 && user.page < 35">
			 <button ng-if="user.page < 34" class="green" ng-click="next_question()">Следующий вопрос</button>
            <button ng-if="user.page == 34" class="green" ng-click="next_question()">Узнать результаты теста знаний на ВИЧ/СПИД</button>
		</div>
        <div ng-if="user.page >= 35">
            <article ng-include="results_page"></article>
            <button ng-if="user.page < 41 && user.page == 35" class="green" ng-click="next_question()" ng-disabled="false">Перейти к следующей части программы</button>

            <button ng-if="user.page < 41 && user.page != 35" class="green" ng-click="next_question()" ng-disabled="!accepted">Перейти к следующей части программы</button>

            <a ng-if="user.page < 41 && !accepted" href="/user_{{user.id}}/blocks">
                <button style="    width: 100%;    font-size: larger;">
                Закончить на сегодня и вернуться на главную страницу сайта
                </button>
            </a>

            <button ng-if="accepted" style="    width: 100%;    font-size: larger;" ng-click="redirect_to_blocks()">Закончить на сегодня и вернуться на главную страницу сайта</button>

            <button ng-if="user.page == 41" class="green" ng-click="finish()" ng-disabled="!accepted">Далее</button>
        </div>
    </div>

<!--
    <div class="questions" ng-if="user.block > block.id">
        <a class="home" href="/user_{{user.id}}/blocks">
            <i class="material-icons">chevron_left</i>
            <span>Блоки</span>
        </a>
        <h1>Ваши ответы на вопросы блока "{{block.name}}".</h1>
    </div>
-->
</div>