<a href="/enter"><button class="enter-button">Вход для зарегистрированных пользователей</button></a>
<header ng-include="'/views/static/header.html'"></header>

<div class="container main">
    <p>Санкт-Петербургский государственный университет приглашает Вас принять участие в профилактической научно-исследовательской программе <b>vPLUS</b>, которая направлена на оказание поддержки людям, живущим с ВИЧ-инфекцией.</p>

<p style="font-size: 18px;">Если у Вас есть ВИЧ-инфекция, то в нашей программе Вы найдете информацию, которая может помочь Вам улучшить качество Вашей жизни.</p>

<p>Также в нашей программе Вы сможете увидеть  короткие видеосюжеты с личными историями реальных людей, которые живут с ВИЧ; интервью со специалистами, оказывающими помощь ВИЧ-позитивным людям; услышать их рекомендации относительно жизни с ВИЧ-инфекцией.</p>

<p>В основе нашей программы лежит научный подход, поэтому перед началом прохождения <b>Программы</b> мы попросим Вас заполнить онлайн-анкету, проанализируем Ваши ответы и с учетом результатов предложим Вам индивидуальный сценарий прохождения программы. Во время прохождения <b>Программы</b> Вы сможете узнать результаты Вашего анкетного тестирования, а при повторных анкетированиях сравнить новые результаты с результатами Ваших предыдущих тестирований. После каждого заполнения анкеты в течение двух рабочих дней на Ваш электронный адрес будет высылаться номер карты Webmoney на сумму 500 рублей, которую Вы сможете использовать для покупок в интернете или для оплаты своего мобильного телефона.</p>

<p style="font-size: 18px;"><b>Если Вы желаете узнать более подробно о предлагаемой программе и, возможно, принять участие в ней, нажмите</b></p>
<a href="/acceptance" class="action"><button class="action">Узнать более подробно</button></a>
<img src="img/pics/index.png" style="margin: 0 auto; max-width: 70vw;">

</div>


 <footer ng-include="'/views/static/footer.html'"></footer>