<!--
<div class="blocks" ng-if="user.suits != 0">
    <a ng-repeat="block in blocks" 
       href="/user_{{user.id}}/block_{{block.id}}/{{user.page}}" 
       ng-if="user.block >= block.id"
       ng-click="hide_aside()">
        <div class="block">
            <span class="id">Часть {{block.id}}.</span>
            <span class="name">{{block.name}}.</span>
        </div>
    </a>
</div>
-->



<div class="blocks" ng-if="user.suits != 0 && user.block == 8">
    
    <a ng-repeat="part in parts" ng-init="part_index = $index + 1" 
       ng-href="/user_{{user.id}}/intervention/{{part.id}}"
       ng-class="{ 'disabled' : user.page - 34 < part_index}"
       ng-if="user.page >= 35">
        <div class="block">
            <span class="id">Часть {{part_index}}.</span>
            <span class="name">{{part.name}}</span>
        </div>
    </a>

<div class="blocks">
<a href="/user_{{user.id}}/info">
    <div class="block" >
        <span>Полезная информация</span>
     </div>
</a>

<a href="/user_{{user.id}}/links">
    <div class="block" >
       
        <span>Полезные ссылки</span>
    </div>
</a>

<a href="/user_{{user.id}}/developpers">
    <div class="block" >
        <span>Информация о программе и разработчиках</span>
     </div>
</a>

<a href="/user_{{user.id}}/parser" ng-if="user.is_admin">
     <div class="block">
        <span>Добавить переменную</span>
    </div>
</a>

<a href="/user_{{user.id}}/users_list">
     <div class="block" ng-if="user.is_admin">
        <span>Список пользователей</span>
     </div>
</a>

<a href="/user_{{user.id}}/users_answers">
    <div class="block" ng-if="user.is_admin">
        <span>Ответы пользователей</span>
    </div>
</a>


</div>
