<!--
<div class="blocks" ng-if="user.suits != 0">
    <a ng-repeat="block in blocks" 
       href="/user_{{user.id}}/block_{{block.id}}/{{user.page}}" 
       ng-if="user.block >= block.id"
       ng-click="hide_aside()">
        <div class="block">
            <span class="id">Часть {{block.id}}.</span>
            <span class="name">{{block.name}}.</span>
        </div>
    </a>
</div>
-->

<a href="/user_{{user.id}}/parser">
    <span class="item" ng-if="user.is_admin">
        <img src="img/nav-icon.png" />
        <span>Добавить переменную</span>
    </span>
</a>

<a href="/user_{{user.id}}/users_list">
    <span class="item" ng-if="user.is_admin">
        <img src="img/nav-icon.png" />
        <span>Список пользователей</span>
    </span>
</a>

<a href="/user_{{user.id}}/users_answers">
    <span class="item" ng-if="user.is_admin">
        <img src="img/nav-icon.png" />
        <span>Ответы пользователей</span>
    </span>
</a>


