<!--
<div class="blocks" ng-if="user.suits != 0">
    <a ng-repeat="block in blocks" 
       href="/user_{{user.id}}/block_{{block.id}}/{{user.page}}" 
       ng-if="user.block >= block.id"
       ng-click="hide_aside()">
        <div class="block">
            <span class="id">Часть {{block.id}}.</span>
            <span class="name">{{block.name}}.</span>
        </div>
    </a>
</div>
-->

<div class="blocks" ng-if="user.suits != 0 && user.block == 8">
    <a href="/user_{{user.id}}/block_8/35"
       ng-if="user.page >= 35">
        <div class="block">
            <span class="id">Часть 1.</span>
            <span class="name">Знания</span>
        </div>
    </a>

    <a href="/user_{{user.id}}/block_8/36"
       ng-if="user.page >= 36">
        <div class="block">
            <span class="id">Часть 2.</span>
            <span class="name">Принятие диагноза</span>
        </div>
    </a>

    <a href="/user_{{user.id}}/block_8/37"
       ng-if="user.page >= 37">
        <div class="block">
            <span class="id">Часть 3.</span>
            <span class="name">Сексуальные отношения</span>
        </div>
    </a>

    <a href="/user_{{user.id}}/block_8/38"
       ng-if="user.page >= 38">
        <div class="block">
            <span class="id">Часть 4.</span>
            <span class="name">Правовые вопросы</span>
        </div>
    </a>

    <a href="/user_{{user.id}}/block_8/39"
       ng-if="user.page >= 39">
        <div class="block">
            <span class="id">Часть 5.</span>
            <span class="name">Приверженность к лечению</span>
        </div>
    </a>

    <a href="/user_{{user.id}}/block_8/40"
       ng-if="user.page >= 40">
        <div class="block">
            <span class="id">Часть 6.</span>
            <span class="name">Образ жизни</span>
        </div>
    </a>

    <a href="/user_{{user.id}}/block_8/41"
       ng-if="user.page >= 41">
        <div class="block">
            <span class="id">Часть 7.</span>
            <span class="name">Употребление наркотиков</span>
        </div>
    </a>
</div>

<a href="/user_{{user.id}}/info">
    <span class="item" >
        <img src="img/nav-icon.png" />
        <span>Полезная информация</span>
    </span>
</a>

<a href="/user_{{user.id}}/links">
    <span class="item" >
        <img src="img/nav-icon.png" />
        <span>Полезные ссылки</span>
    </span>
</a>

<a href="/user_{{user.id}}/developpers">
    <span class="item" >
        <img src="img/nav-icon.png" />
        <span>Информация о программе и разработчиках</span>
    </span>
</a>

<a href="/user_{{user.id}}/parser" ng-if="user.is_admin">
    <span class="item">
        <img src="img/nav-icon.png" />
        <span>Добавить переменную</span>
    </span>
</a>

<a href="/user_{{user.id}}/users_list">
    <span class="item" ng-if="user.is_admin">
        <img src="img/nav-icon.png" />
        <span>Список пользователей</span>
    </span>
</a>

<a href="/user_{{user.id}}/users_answers">
    <span class="item" ng-if="user.is_admin">
        <img src="img/nav-icon.png" />
        <span>Ответы пользователей</span>
    </span>
</a>


