<aside ng-include="'/views/static/header.html'"></aside>	

  

<div class="container parser">
    <a class="home" href="/user_{{user.id}}/blocks">
        Назад, к блокам
    </a>
    <form class="question">
        <label for="variable">Переменная</label>
        <input name="variable" type="text" ng-model="variable" class="parse-input" />

        <label for="rows">Вопрос</label>
        <textarea name="rows" rows="1" ng-model="rows_unparsed"></textarea>
        <button class="submit" ng-click="parser_controller.parseAll(variable, rows_unparsed)">Спарсим!</button>
    </form>
</div>

 <footer ng-include="'/views/static/footer.html'"></footer>