<aside>
    <header>
        <img src="img/logo.png" class="logo">
    </header>

    <div class="logout-panel">
        <span>Здравствуйте, {{user.nick}}</span>
        <button ng-click="logout()">Выйти</button>
    </div>

    <nav ng-include="nav"></nav>

    <footer>
        <span>При поддержке гранта РГНФ №321</span>
    </footer>
</aside>
<div class="container parser">
    <form class="question">
        <label for="variable">Переменная</label>
        <input name="variable" type="text" ng-model="variable" class="parse-input" />

        <label for="rows">Вопрос</label>
        <textarea name="rows" rows="1" ng-model="rows_unparsed"></textarea>
        <button class="submit" ng-click="parser_controller.parseAll(variable, rows_unparsed)">Спарсим!</button>
    </form>
</div>