<aside>
    <header>
        <img src="img/logo.png" class="logo">
    </header>

    <div class="logout-panel">
        <span>Здравствуйте, {{user.nick}}</span>
        <a ng-click="logout()">Выйти</a>
    </div>

    <nav ng-include="nav"></nav>

    <footer>
        <span>При поддержке гранта РГНФ №321</span>
    </footer>
</aside>
<div class="container">
    <a class="home" href="/user_{{user.id}}/blocks">
        Назад, к блокам
    </a>
    <table>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.nickname}}</td>
            <td>{{user.email}}</td>
        </tr>
    </table>
</div>