<div class="parallax" style="background-image: url(/img/pics/3_1_1pregnant.png);" id='conceive'></div>
				<h2 class="int_heading2" >Беременность и ВИЧ</h2>
				<div class="intervention_content">
				 <div class="video_stub">
					 <div class="video_desc">ВИЧ-положительные люди могут иметь здоровых детей без ВИЧ-инфекции. Для этого важно осознанно и заранее подходить к процессу планирования беременности. Послушайте личную историю о том, какие действия помогли дискордантной паре обезопасить своего будущего ребенка, а также ВИЧ-отрицательного партнера от заражения ВИЧ-инфекцией.</div><iframe src="https://www.youtube.com/embed/qqWvlqP8S50?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
				 </div>
				<br />