
<link rel="stylesheet" href="styles/intervention.css" />
<div class="parallax" style="background-image: url(/img/pics/2_1.png);"></div>
<h2 class="int_heading">Принятие диагноза</h2>
<div class="intervention_content">
<p>Узнав о заражении ВИЧ-инфекцией, человек может испытывать сильные негативные эмоции. Это естественная реакция, и для адаптации к новой ситуации требуется время. 
Перед человеком, узнавшем о своём диагнозе, стоит непростая задача включить эту новую информацию в свою картину мира и в свои представления о будущем.
<br> О том, как проходит процесс принятия диагноза, расскажет человек,  который сам прошёл этот путь и в результате принял свой ВИЧ-положительный статус. <br>Пожалуйста, послушайте его историю.</p>
<br />
<div class="video_stub">
<iframe src="https://www.youtube.com/embed/nxIV2xfD01E?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<p>Как Вы могли понять из просмотренного видеоролика, процесс принятия диагноза может сопровождаться негативными чувствами. </p>
<p>В самом начале программы Вы заполнили опросник, в котором была шкала внутренней стигматизации, оценивающая интенсивность негативных переживаний, связанных с ВИЧ-статусом. 
Ниже представлена информация о том, сколько баллов Вы набрали по этой шкале и что это значит.</p>
<p ng-if="test_result['hss'] >= 23" class="consultant"><i>Вы набрали {{test_result['hss']}} баллов по шкале внутренней стигматизации (минимум – 13, максимум – 52). 
Это значит, что у Вас есть негативные переживания, связанные с Вашим ВИЧ-статусом. 
Такие переживания возникают, когда человек считает, что наличие ВИЧ-инфекции влияет на отношение других людей к нему, и когда он сам начинает хуже к себе относиться из-за того, что у него есть ВИЧ.
 Причина такого отношения к себе и ожидания негативного отношения со стороны окружающих – непринятие своего ВИЧ-статуса. ВИЧ-положительные люди могут бояться, что если они примут свой ВИЧ-статус,
 согласятся с ним, их жизнь резко изменится в негативную сторону. На практике принятие своего диагноза – комплексный процесс, который затрагивает многие сферы жизни, что будет проиллюстрировано ниже.
 Если Вы чувствуете, что Вам сложно согласиться со своим ВИЧ-положительным статусом, Вы можете обратиться за помощью к психологу Центра СПИД.</i><br>
 <b>Примите во внимание, что полученные интерпретации создаются автоматически на основании вычислительного алгоритма, и не могут рассматриваться как психодиагностическое заключение или консультация психолога.</b>
   <img src="/img/pics/2_4.png" class="illustration" style="width:100%; left:0;">
 </p>
<p ng-if="test_result['hss'] < 23" class="consultant"><i>Вы набрали {{test_result['hss']}} баллов по шкале внутренней стигматизации (минимум – 13, максимум – 52). 
Это значит, что у Вас есть негативные переживания, связанные с Вашим ВИЧ-статусом.
 Такие переживания возникают, когда человек считает, что наличие ВИЧ-инфекции влияет на отношение других людей к нему, и когда он сам начинает хуже к себе относиться из-за того, что у него есть ВИЧ.
 Причина такого отношения к себе и ожидания негативного отношения со стороны окружающих – непринятие своего ВИЧ-статуса. ВИЧ-положительные люди могут бояться, что если они примут свой ВИЧ-статус,
 согласятся с ним, их жизнь резко изменится в негативную сторону. На практике принятие своего диагноза – комплексный процесс, который затрагивает многие сферы жизни, что будет проиллюстрировано ниже.
 Если Вы чувствуете, что Вам сложно согласиться со своим ВИЧ-положительным статусом, Вы можете обратиться за помощью к психологу Центра СПИД.</i><br>
 Примите во внимание, что полученные интерпретации создаются автоматически на основании вычислительного алгоритма, и не могут рассматриваться как психодиагностическое заключение или консультация психолога.
  <img src="/img/pics/2_4.png" class="illustration" style="width:100%; left:0;">
</p>

 
 <p>Следующий список положительных и отрицательных сторон принятия ВИЧ-статуса может помочь Вам разобраться в себе:
 что значит для Вас быть ВИЧ-инфицированным и что изменилось в Вашей жизни после того, как Вы узнали о ВИЧ-инфекции.</p>

<h3>Принятие диагноза «ВИЧ-инфекция»</h3>
<img src="/img/pics/2_2.png" class="illustration_dual">
<img src="/img/pics/2_3.png" class="illustration_dual">
<div class="multicol">
    <div>
        <h4>Отрицательные стороны:</h4>
        <ul class="minus">
            <li>Вам придётся окончательно принять тот факт, что у Вас есть ВИЧ-инфекция. <br>Это повлечёт за собой необходимость внимательнее относиться к своему здоровью, регулярно наблюдаться у врачей и соблюдать их рекомендации. Только так можно улучшить качество Вашей жизни и увеличить её продолжительность.</li>
            <li>Вам придётся научиться сообщать о своём ВИЧ-статусе близким людям.</li>
            <li>Не исключено, что, рассказав людям о своём ВИЧ-статусе, Вы увидите в их глазах страх или столкнётесь с непониманием и, возможно, даже с оскорблениями. Нужно уметь коротко рассказать о ВИЧ-инфекции, так как страхи часто происходят от недостатка информации.</li>
            <li>Люди могут перестать общаться с Вами, если узнают, что Вы ВИЧ-инфицированный. Вам стоит подумать заранее, кому безопасно раскрывать свой статус, а кому – нет.</li>
            <li>Вам нужно будет следить за своим здоровьем, регулярно сдавать анализы, регулярно посещать Центр СПИД – на все это нужно время.</li>
        </ul>
    </div>
    <div>
    <h4>Положительные стороны:</h4>
        <ul class="plus">
            <li>Вам больше не нужно скрывать или отрицать свой ВИЧ-статус. <br> Это избавляет от чувства несвободы, эмоционального напряжения, повышенной тревожности, депрессивного состояния, проблем со сном и других психологических сложностей. Высвобождается большое количество энергии, которую Вы можете направить на то, чтобы сделать свою жизнь лучше, интереснее.</li>
            <li>Вам больше не нужно бояться, что близкие случайно узнают о Вашем ВИЧ-статусе, так как Вы сами спокойно рассказали им об этом. <br>Вам больше не нужно скрывать от близких Ваши визиты к врачу и приём лекарств, более того, члены Вашей семьи могут даже помочь Вам соблюдать режим приёма препаратов.</li>
            <li>Рассказав близким людям о своём ВИЧ-статусе, Вы сможете получить от них помощь и поддержку.<br> Рядом с Вами есть люди, которым Вы можете рассказать о сложностях, связанных с ВИЧ-статусом, и при необходимости обратиться к ним за помощью (например, члены Вашей семьи могут получить для Вас лекарственные препараты в Центре СПИД).</li>
            <li>Вам больше не нужно опасаться окружающих, так как Вы не боитесь негативного отношения с их стороны из-за Вашего ВИЧ-статуса.<br> Вы чувствуете себя уверенно и при необходимости можете отстоять свои права. <i>Подробнее о том, как отстаивать свои права Вы сможете узнать в части «Правовые вопросы».</i></li>
            <li>Вы не боитесь знакомиться и строить отношения с новыми людьми, независимо от их ВИЧ-статуса.</li>
            <li>Ваше спокойное отношение к своему ВИЧ-статусу и опыт жизни с ВИЧ могут позволить другим ВИЧ-положительным людям обратиться к Вам за поддержкой. И Вы сами можете обсудить сложности, связанные с ВИЧ-статусом, с другими ВИЧ-положительными людьми, которые могут поделиться с Вами своим опытом.</li>
            <li>Вы начинаете более внимательно относиться к себе и к своему здоровью, лучше понимать свои собственные потребности.</li>
        </ul>
    </div>
</div>

<p ng-if="compare(test_result['disclosure'], [393]) "><i>Некоторым людям может быть страшно рассказывать о своей ВИЧ-инфекции другим, так как неизвестно, какая последует реакция. Но в таком случае часть их жизни остаётся скрытой ото всех, что может вызывать чувство одиночества. При раскрытии своего ВИЧ-статуса близким людям появляется возможность получить их поддержку. Каждый сам выбирает, кому и как раскрывать свой ВИЧ-статус. В следующем видео Вы увидите одну из таких историй.</i></p>
<p ng-if="!compare(test_result['disclosure'], [393]) "><i>Некоторые люди раскрывают свой ВИЧ-статус другим, хоть это может быть и непросто. Бывает страшно, что другой человек не поймёт и оттолкнёт, но в то же время при раскрытии своего ВИЧ-статуса близким людям появляется возможность получить их поддержку. Каждый сам выбирает, кому, когда и как раскрывать свой ВИЧ-статус. В следующем видео Вы увидите одну из таких историй.</i></p>
<br />
<div class="video_stub"><iframe src="https://www.youtube.com/embed/Mc6QuG2oBIQ?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<div class="video_stub">
<div class="video_desc">Принять свой ВИЧ-статус может быть непросто, для некоторых людей легче отрицать свой диагноз, чем признать наличие у себя ВИЧ-инфекции. 
Кроме того, так сложилось, что ВИЧ-инфекция окружена множеством мифов и недостоверной информации. 
В следующем видео Вы узнаете о движении СПИД-диссидентов от человека, который раньше придерживался диссидентских взглядов на ВИЧ/СПИД.</div>
<iframe src="https://www.youtube.com/embed/oJEKYPPndFc?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<input type="checkbox" id="accept" name="accept" ng-model="$parent.accepted"/ >
<label class="int_accept" for="accept">
<b> Я ознакомился со всеми материалами этой часть программы, которые мне были предоставлены на данной веб-странице</b>
</label>
<br /><br />
</div>