<link rel="stylesheet" href="styles/intervention.css" />
<div class="parallax" style="background-image: url(/img/pics/6_1.png);"></div>
<h2 class="int_heading">Образ жизни</h2>
<div class="intervention_content">
   <p class="section_start">Очень часто кажется, что жизнь при наличии ВИЧ-инфекции должна полностью измениться. Но это совсем не значит, что надо менять абсолютно все свои привычки. Теперь Вашей задачей является создание наилучших условий для поддержания своего здоровья. По сути – это просто здоровый образ жизни.</p>
   <p>Для ВИЧ-положительного человека здоровый образ жизни особенно важен, но бывает сложно принять решение об изменении своих привычек и поведения.<br> В этом Вам может помочь следующий список положительных и отрицательных сторон изменения своего образа жизни.</p>
   <h2 class="heading_part">Здоровый образ жизни (ЗОЖ)</h2>
   <div class="multicol">
      <div>
         <h4>Отрицательные стороны:</h4>
         <ul  class="minus">
            <li>ЗОЖ подразумевает следование определённым правилам и рекомендациям, возможно, Вам придётся менять свои привычки, исключать из рациона некоторые продукты.</li>
            <li>Неизвестно, когда Вы почувствуете улучшение своего самочувствия после изменения своего образа жизни на более здоровый.</li>
            <li>ЗОЖ не отменяет необходимость регулярно посещать врача и принимать ВААРТ.</li>
         </ul>
      </div>
      <div>
         <h4>Положительные стороны:</h4>
         <ul  class="plus">
            <li>ЗОЖ вместе с регулярным медицинским наблюдением и приёмом ВААРТ ведёт к улучшению качества жизни и увеличению её продолжительности.</li>
            <li>ЗОЖ является дополнительной поддержкой для Вашего иммунитета – через некоторое время после изменения образа жизни на более здоровый, Вы станете чувствовать себя лучше.</li>
            <li>ЗОЖ улучшает Ваш сон и позволяет Вам чувствовать себя более энергичными в дневное время.</li>
            <li>Физическая активность – это дополнительный источник удовольствия, выбирайте, что Вам больше нравится: прогулки на свежем воздухе, велосипед, коньки, лыжи, плавание…</li>
         </ul>
      </div>
   </div>
   <div class="parallax" style="background-image: url(/img/pics/6_2.png);"></div>
   <p>Здоровье в первую очередь зависит от физического состояния Вашего организма, которое взаимосвязано с Вашим образом жизни. 
      Изменение образа жизни в сторону более ответственного и здорового может улучшить Ваше самочувствие и физическое состояние. 
      Если Ваше физическое здоровье важно для Вас, мы рекомендуем Вам отказаться от вредных привычек и развивать полезные. 
      По возможности следует отказаться от употребления алкоголя, табака и других веществ, вредных для организма, или, по крайней мере, не злоупотреблять ими.
   </p>
   <!-- alco start -->
   <p class="pre-cons"> В самом начале программы Вы заполнили опросник, в котором была шкала злоупотребления алкоголем. Ниже представлена информация о том, сколько баллов Вы набрали по этой шкале и что это значит.</p>
 
     <p ng-if="test_result['audit'] <= 7" class="consultant">
      <i>Ваш балл по шкале злоупотребления алкоголем, разработанной Всемирной Организацией Здравоохранения (ВОЗ) – {{test_result['audit']}} (минимум 0, максимум 40). Употребление Вами алкоголя находится в пределах допустимого уровня и не наносит вреда Вашему здоровью.</i>
      <br> <span class="remark">Примите во внимание, что полученные интерпретации создаются автоматически на основании вычислительного алгоритма, и не могут рассматриваться как психодиагностическое заключение или консультация специалиста.</span>
   </p>
   <p ng-if="test_result['audit'] > 7 && test_result['audit'] < 16" class="consultant"><i>Ваш балл по шкале злоупотребления алкоголем, разработанной Всемирной Организацией Здравоохранения (ВОЗ) – {{test_result['audit']}} (минимум 0, максимум 40). Употребление Вами алкоголя может быть опасно для здоровья. Употребление алкоголя в больших количествах значительно увеличивает нагрузку на печень, что особенно важно учитывать при приёме ВААРТ. Помимо прямого вреда здоровью, употребление алкоголя в больших количествах снижает критичность мышления. В состоянии алкогольного опьянения Вы можете вести себя более рискованно по отношению к своему здоровью. А если Вы принимаете ВААРТ, Вы можете пропустить приём препаратов, что снизит эффективность Вашего лечения.</i>
      <br><b>Примите во внимание, что полученные интерпретации создаются автоматически на основании вычислительного алгоритма, и не могут рассматриваться как психодиагностическое заключение или консультация специалиста.</b>
   </p>
   <p ng-if="test_result['audit'] >= 18" class="consultant"><i>Ваш балл по шкале злоупотребления алкоголем, разработанной Всемирной Организацией Здравоохранения (ВОЗ) – {{test_result['audit']}} (минимум 0, максимум 40). Употребление Вами алкоголя наносит серьёзный вред здоровью. Злоупотребление алкоголем плохо влияет на иммунитет и значительно увеличивает нагрузку на печень. Человек в состоянии алкогольного опьянения не задумывается о последствиях своих действий для здоровья и может совершать необдуманные поступки. А если Вы принимаете ВААРТ, Вы можете пропустить приём препаратов, что снизит эффективность лечения. Психолог и нарколог Центра СПИД могут помочь отказаться от алкоголя.</i>
      <br><b>Примите во внимание, что полученные интерпретации создаются автоматически на основании вычислительного алгоритма, и не могут рассматриваться как психодиагностическое заключение или консультация специалиста.</b>
   </p>
   <p>Помимо физического здоровья, на Ваше состояние и самочувствие влияют Ваши настроение, мысли и переживания – все то, что можно назвать психологическим благополучием.</p>
   <!-- /alco end -->
   
   
   <p  class="pre-cons"> В самом начале программы Вы заполнили опросник, в котором была шкала стресса. Ниже представлена информация о том, сколько баллов Вы набрали по этой шкале и что это значит.</p>

       <p ng-if="test_result['pss'] <= 25" class="consultant"> 
      <i>Ваш балл по шкале стресса – {{test_result['pss']}} (минимум 10, максимум 50). Некоторые люди чувствуют, что могут влиять на свою жизнь, или, по крайней мере, на какую-то её часть. Они могут достаточно эффективно справляться с различными жизненными сложностями и связанными с ними эмоциональными переживаниями. В жизни таких людей преобладают положительные эмоции, что благоприятно сказывается и на их здоровье.</i>
      <br> <span class="remark">Примите во внимание, что полученные интерпретации создаются автоматически на основании вычислительного алгоритма, и не могут рассматриваться как психодиагностическое заключение или консультация психолога.</span>
   </p>
   <p ng-if="test_result['pss'] > 25" class="consultant"><i>Ваш балл по шкале стресса – {{test_result['pss']}} (минимум 10, максимум 50). Некоторые люди чувствуют, что не в состоянии влиять на свою жизнь. Они не удовлетворены своей жизнью, но при этом не чувствуют в себе силы что-то изменить. Такое состояние может угнетать и вызывать депрессию. Если такие переживания Вам знакомы, лучше обратиться к психологу. Не стоит самостоятельно ставить диагноз, если Вас беспокоит Ваше психологическое состояние – проконсультируйтесь со специалистом.</i>
      <br><b>Примите во внимание, что полученные интерпретации создаются автоматически на основании вычислительного алгоритма, и не могут рассматриваться как психодиагностическое заключение или консультация психолога.</b>
   </p>
   <p>На психологическое благополучие влияет также взаимодействие с другими людьми – наличие этого взаимодействия, его качество и, соответственно, Ваша удовлетворённость общением. </p>
   <p  class="pre-cons">В самом начале программы Вы заполнили опросник, в котором была шкала социальной поддержки. Ниже представлена информация о том, сколько баллов Вы набрали по этой шкале и что это значит.</p>
   <p ng-if="test_result['ss'] <= 69" class="consultant"> 
      <i>Ваш балл по шкале социальной поддержки – {{test_result['ss']}} (минимум 0, максимум 100). Социальная поддержка – это ощущение того, что есть люди, которые Вас понимают, готовы разделить с Вами любые Ваши проблемы и радости, помочь словом и делом. Некоторые люди чувствуют недостаток общения и поддержки со стороны окружающих, и это может вызывать печаль и ощущение одиночества. Поддержка важна всегда, но бывают моменты, когда она особенно необходима. И если от окружающих людей нет возможности получить такую поддержку, можно обратиться за помощью к психологу.</i>
      <br> <span class="remark">Примите во внимание, что полученные интерпретации создаются автоматически на основании вычислительного алгоритма, и не могут рассматриваться как психодиагностическое заключение или консультация психолога.</span>
   </p>
   <p ng-if="test_result['ss'] > 69" class="consultant">
      <i>Ваш балл по шкале социальной поддержки – {{test_result['ss']}} (минимум 0, максимум 100). Социальная поддержка – это ощущение того, что есть люди, которые Вас понимают, готовы разделить с Вами любые Ваши проблемы и радости, помочь словом и делом. Когда в Вашем окружении есть такие люди, это помогает справляться с тяжёлыми переживаниями и любыми проблемами.</i>
      <br><b>Примите во внимание, что полученные интерпретации создаются автоматически на основании вычислительного алгоритма, и не могут рассматриваться как психодиагностическое заключение или консультация психолога.</b>
   </p>
   <br />
   <div class="video_stub">
      <div class="video_desc">Здоровый образ жизни – необходимый компонент лечения ВИЧ-положительного человека. В следующем видео психолог рассказывает о том, какие привычки помогут Вам поддерживать свое здоровье.</div>
      <iframe src="https://www.youtube.com/embed/jJnk_LtMQTU?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
   </div>
   <br />
   <h3>Интерактивная игра</h3>
   <p><i>Сверху расположены иконки, отображающие образ жизни. Перенося их в нижнюю часть за желтую линию, посмотрите как они влияют на Ваш уровень здоровья. </i></p>
   <iframe src="./game/index.html" style="border: none;height: 100vh;     width: 99.9%;"></iframe>
   <p>Здоровый образ жизни помогает Вам чувствовать себя хорошо и вести полноценную жизнь, но не избавляет от всех переживаний, связанных с ВИЧ-статусом. 
      Если Вы живете с ВИЧ уже достаточно долго, Вы можете почувствовать усталость от посещения врачей и приёма АРВ-препаратов. 
      У Вас может появиться желание бросить все это и просто пожить в своё удовольствие. 
   </p>
   <br />
   <div class="video_stub">
      <div class="video_desc">В следующем видео ВИЧ-положительный человек описывает подобные переживания и то, как он с ними справился.</div>
      <iframe src="https://www.youtube.com/embed/AEt6Zy6zD6o?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
   </div>
   <br />
   <div class="parallax" style="background-image: url(/img/pics/6_3.png);"></div>
   <br />
   <input type="checkbox" id="accept" name="accept" ng-model="$parent.accepted"/>
   <label class="int_accept" for="accept"><b>Я ознакомился со всеми материалами этой части программы, которые мне были предоставлены на данной веб-странице</b></label><br /><br />
</div>