  <link rel="stylesheet" href="styles/intervention.css" />
<div class="parallax" style="background-image: url(/img/pics/3_1.png);"></div>
<h2 class="int_heading">Сексуальные отношения</h2>
<div class="intervention_content">
	<p class="section_start">Секс и сексуальность – неотъемлемая часть нашей человеческой сущности, любви и близких отношений. Важно уметь наслаждаться этими чувствами, не рискуя здоровьем. В настоящее время единственным надёжным средством профилактики заражения ВИЧ является использование презерватива.</p>
	<br />
		<div class="video_stub">
			<div class="video_desc">
			В следующем видео Вы услышите личную историю о том, что помогает сохранять пару дискордантной, т.е. не заразить ВИЧ-инфекцией любимого человека.
			</div>
		<iframe src="https://www.youtube.com/embed/CL2RNsW3YBg?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
	<br />
	<p ng-if="(test_result['sex']['42'] - test_result['sex']['43'] != 0) || (test_result['sex']['44'] - test_result['sex']['45'] != 0)"><span  class="section_start">Некоторые люди не всегда используют презервативы при сексе, что может провоцировать некоторые риски. У каждого человека своё отношение к презервативам, которое влияет на их использование. В этой части программы мы предлагаем Вам вспомнить, почему Вам нравится и почему не нравится использовать презервативы, и посмотреть на разные точки зрения по этому вопросу.</span></p>
	<p ng-if="(test_result['sex']['42'] - test_result['sex']['43'] == 0) && (test_result['sex']['44'] - test_result['sex']['45'] == 0)"><span  class="section_start">Есть люди, которые всегда используют презервативы при половых контактах. Действительно, презервативы – это надёжный способ защиты себя и своего партнёра от возможных рисков. Могут меняться жизненные обстоятельства, могут меняться половые партнёры, и каждый раз важно принимать самостоятельное взвешенное решение относительно использования презервативов.</span></p>
	<h2 class="heading_part">Использование презервативов</h3>
		<div class="multicol">
			<div>
				<h4>Отрицательные стороны:</h4>
				<ul  class="minus">
					<li>Об использовании презервативов нужно разговаривать и договариваться с партнёром</li>
					<li>Для обоснования необходимости использовать презерватив может потребоваться раскрыть партнёру свой ВИЧ-статус.</li>
					<li>Предложение использовать презерватив может заставить партнёра усомниться в Вашей верности или в Вашем доверии к нему, если он не знает о Вашем ВИЧ-статусе.</li>
					<li>Презервативы могут снизить остроту ощущений во время секса.</li>
					<li>Нужно заботиться о наличии презервативов: покупать, носить с собой.</li>
					<li>Во время использования презервативов Вы не сможете зачать ребёнка естественным путём. <i>В разделе «Полезная информация» Вы можете узнать о других возможных способах зачать ребёнка.</i></li>
				</ul>
			</div>
			<div>
				<h4>Положительные стороны:</h4>
				<ul class="plus">
					<li>Презерватив – самое надёжное средство, чтобы уберечь от заражения ВИЧ-инфекцией своего полового партнёра.</li>
					<li>Если Ваш партнёр ВИЧ-положительный, презерватив защитит Вас и Вашего партнёра от возможного заражения другими штаммами (разновидностями) вируса.</li>
					<li>Если Вы получаете АРВ-терапию, Вы не обменяетесь со своим половым партнёром штаммами (разновидностями) вируса, которые могут быть устойчивыми к лекарствам. <i>Подробнее об этом Вы можете узнать в разделе «Полезная информация»</i></li>
					<li>Вы убережёте себя от заражения другими ИППП.</i></li>
					<li>Использование презерватива предотвращает возникновение нежелательной беременности.</li>
					<li>Не обязательно раскрывать свой ВИЧ-статус, так как презерватив надёжно защищает от передачи вируса половому партнёру.</li>
					<li>Презерватив – лучший способ защиты от ИППП при случайном сексе и от инфицирования другими штаммами (разновидностями) ВИЧ.</li>
				</ul>
			</div>
		</div>
	<p>Возможно, после того как Вы узнали о своём ВИЧ-статусе, Вы решили изменить свои привычные сексуальные отношения с партнёром и поговорить с ним о защищённом сексе. В следующем видео психолог расскажет о том, как можно подготовиться к такому разговору.</p>
	<br />
	<div class="video_stub"><iframe src="https://www.youtube.com/embed/?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
	<br />
	<p>Ниже Вы можете посмотреть <b>видео-инструкцию по надеванию презерватива:</b></p>
	<br />
	<div class="video_stub"><iframe src="https://www.youtube.com/embed/?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
	<br />
	<p>Рождение детей – важный этап в семейной жизни. Наличие ВИЧ-инфекции хотя бы у одного из партнёров заставляет задумываться о снижении риска инфицирования будущего ребёнка. Ниже будет рассказано, какую помощь будущие и настоящие ВИЧ-положительные мамы могут получить в Центре СПИД для себя и своих детей.</p>
</div>


<div ng-if="test_result['conceive'] != 1">
    <label class="spoiler">
        Ознакомиться с содержанием раздела "Беременность и ВИЧ"
        <input type="checkbox" class="spoiler" ng-model="$parent.spoiler_conceive" ng-click="scrollTo('conceive')">
    </label>
    <div ng-show="spoiler_conceive">
	<!-- conceive -->
	<div ng-include="'/views/intervention/conceive.html'"></div>	
			
	<!-- /end conceive -->
    </div>
</div>

<div ng-if="test_result['conceive'] == 1">
	<!-- conceive -->
	<div ng-include="'/views/intervention/conceive.html'"></div>	
	<!-- /end conceive -->
</div>

<div ng-if="test_result['children'] != 1">
    <label class="spoiler">Ознакомиться с содержанием раздела "Дети и ВИЧ"<input type="checkbox" class="spoiler" ng-model="$parent.spoiler_conceive2" ng-click="scrollTo('children')"></label>
    <div ng-show="spoiler_conceive2">
			<!-- children -->
			<div class="parallax" style="background-image: url(/img/pics/3_2_2deti.png);" id='children'></div>
			<h2 class="int_heading2">Дети и ВИЧ</h2>
			<div class="intervention_content">
				<div class="video_stub"><div class="video_desc">Для того чтобы убедиться в том, что у Вашего новорожденного ребенка нет ВИЧ-инфекции, необходимо в течение его первых 1,5 лет совершить ряд визитов в Центр СПИД. В следующем видео специалист расскажет о том, для чего и как часто Вам нужно привозить своего малыша в Центр СПИД.</div><iframe src="https://www.youtube.com/embed/X-HnDUkSaec?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
				<div class="video_stub"><div class="video_desc">Тем ВИЧ-положительным женщинам, которые принимают АРВ-терапию, важно не забывать про себя после рождения ребенка и сохранять приверженность. Послушайте, пожалуйста, личную историю о том, что помогало не забывать о приеме терапии после родов, когда у молодой мамы появилось много новых забот. Вашему ребенку нужна здоровая мама.</div><iframe src="https://www.youtube.com/embed/C3B-H62jNDw?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
				<div class="video_stub"><div class="video_desc">Если у Вашего ребенка ВИЧ-положительный статус, то по мере его взросления возникнет необходимость рассказать ему об этом. В следующем видео Вы услышите рекомендации психолога о выборе времени для разговора с ребенком о ВИЧ-инфекции, о том, как подготовиться и как вести себя во время этого непростого разговора.</div><iframe src="https://www.youtube.com/embed/QOa6Y5tgH0A?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
				<br />
			</div>
		<!-- children -->
	</div>
</div>
<div ng-if="test_result['children'] == 1">

	<!-- children -->
	<div class="parallax" style="background-image: url(/img/pics/3_2_2deti.png);" id='children'></div>
	<h2 class="int_heading2">Дети и ВИЧ</h2>
	<div class="intervention_content">
		<div class="video_stub"><div class="video_desc">Для того чтобы убедиться в том, что у Вашего новорожденного ребенка нет ВИЧ-инфекции, необходимо в течение его первых 1,5 лет совершить ряд визитов в Центр СПИД. В следующем видео специалист расскажет о том, для чего и как часто Вам нужно привозить своего малыша в Центр СПИД.</div><iframe src="https://www.youtube.com/embed/X-HnDUkSaec?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
        <div class="video_stub"><div class="video_desc">Тем ВИЧ-положительным женщинам, которые принимают АРВ-терапию, важно не забывать про себя после рождения ребенка и сохранять приверженность. Послушайте, пожалуйста, личную историю о том, что помогало не забывать о приеме терапии после родов, когда у молодой мамы появилось много новых забот. Вашему ребенку нужна здоровая мама.</div><iframe src="https://www.youtube.com/embed/C3B-H62jNDw?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
        <div class="video_stub"><div class="video_desc">Если у Вашего ребенка ВИЧ-положительный статус, то по мере его взросления возникнет необходимость рассказать ему об этом. В следующем видео Вы услышите рекомендации психолога о выборе времени для разговора с ребенком о ВИЧ-инфекции, о том, как подготовиться и как вести себя во время этого непростого разговора.</div><iframe src="https://www.youtube.com/embed/QOa6Y5tgH0A?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
    <br />
	</div>
	<!-- children -->
</div>	
	<div class="intervention_content">
<br />
<p ng-show="!intervention_controller" class="int_accept_box">
    <input type="checkbox" id="accept" name="accept" ng-model="$parent.accepted"/>
    <label class="int_accept" for="accept"><b>Я ознакомился со всеми материалами этой части программы, которые мне были предоставлены на данной веб-странице</b></label>
</p>
</div>