  <link rel="stylesheet" href="styles/intervention.css" />
<div class="parallax" style="background-image: url(/img/pics/5_1.png);"></div>
<h2 class="int_heading">Приверженность к лечению</h2>
<div class="intervention_content">
<p class="section_start">Регулярные визиты к врачу могут быть единственным напоминанием о ВИЧ-инфекции. Но регулярный контакт с врачом необходим, чтобы предотвратить возможные, иногда неявные, проблемы со здоровьем.</p>
<br />
<div class="video_stub"><div class="video_desc">В следующем видео Вы услышите личный опыт человека, для которого откладывание визита к врачу-инфекционисту обернулось серьезными проблемами со здоровьем.</div><iframe src="https://www.youtube.com/embed/BzVQqM5uXDE?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<br />
<div ng-if="test_result['aidscenter'] == 1">
    <label class="spoiler">
        Ознакомиться с содержанием раздела "Первое посещение центра СПИД"
        <input type="checkbox" class="spoiler" ng-model="$parent.spoiler_aidscenter">
    </label>
    <div ng-show="spoiler_aidscenter" class="spoiler">
		<h3>Первое посещение центра СПИД</h3>
        <p>Каждый ВИЧ-положительный человек имеет право на бесплатную медицинскую помощь в Центре СПИД по месту своего проживания при наличии постоянной регистрации, либо временной регистрации более одного года. Когда Вы принимаете решение о первом посещении Центра СПИД, важно понимать, в чем заключается эта процедура. В следующем видео будут даны ответы на эти вопросы.</p>
        <br />
        <div class="video_stub"><iframe src="https://www.youtube.com/embed/t5CCx81Zqm8?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
        <br />
    </div>
</div>
<div ng-if="test_result['aidscenter'] != 1">
    <p>Каждый ВИЧ-положительный человек имеет право на бесплатную медицинскую помощь в Центре СПИД по месту своего проживания при наличии постоянной регистрации, либо временной регистрации более одного года. Когда Вы принимаете решение о первом посещении Центра СПИД, важно понимать, в чем заключается эта процедура. В следующем видео будут даны ответы на эти вопросы.</p>
    <br />
    <div class="video_stub"><iframe src="https://www.youtube.com/embed/t5CCx81Zqm8?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
    <br />
</div>
<p>Основной целью наблюдения у врача в Центре СПИД является назначение лечения в нужный момент. Важно понимать, когда Вам может быть назначено лечение, и что Вам нужно будет сделать для того, чтобы оно было назначено. Начало лечения может быть непростым периодом для ВИЧ-положительного человека. И для того чтобы этот период прошёл максимально гладко, важно понимать механизм и смысл назначения лечения.</p>

<div ng-if="test_result['arvt'] == 1">
    <label class="spoiler">
        Ознакомиться с содержанием раздела "Назначение ВААРТ"
        <input type="checkbox" class="spoiler" ng-model="$parent.spoiler_arvt">
    </label>
    <div ng-show="spoiler_arvt" class="spoiler">
        <h3>Назначение ВААРТ</h3>
        <div class="video_stub"><iframe src="https://www.youtube.com/embed/2BHv6zt3PGA?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
        <br />
    </div>
</div>
<div ng-if="test_result['arvt'] != 1">
    <br />
    <div class="video_stub"><iframe src="https://www.youtube.com/embed/2BHv6zt3PGA?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
    <br />
</div>
<p>Люди по-разному относятся к приёму медицинских препаратов. Кто-то считает, что можно забыть принять таблетку вовремя, и это не повлияет на результат лечения. Это может быть верно в отношении многих заболеваний, но не в случае с ВИЧ-инфекцией. Эффективность лечения и, соответственно, Ваше самочувствие зависят не только от назначенной схемы лечения, но и от того, насколько точно Вы соблюдаете рекомендации врача.</p>
<br />

<div class="video_stub"><div class="video_desc">В следующих двух видео Вы услышите личные истории ВИЧ-положительных людей об их опыте приема АРВ-терапии и о том, что им помогает быть приверженными.</div><iframe src="https://www.youtube.com/embed/1QZ9SKTCATQ?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<div class="video_stub"><iframe src="https://www.youtube.com/embed/eqpXR0vnYvI?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<br />
<h3>Приверженность к лечению</h3>
<div class="multicol">
    <div>
        <h4>Отрицательные стороны:</h4>
        <ul  class="minus">
            <li>Когда начинаешь приём терапии, нужно менять свой образ жизни, более внимательно относиться к своему здоровью. <i><b>Но</b> здоровый образ жизни и соблюдение медицинских рекомендаций приводят к улучшению качества Вашей жизни и увеличению её продолжительности.</i></li>
            <li>При приёме АРВ-препаратов нужно регулярно посещать Центр СПИД – сдавать кровь, брать таблетки на каждый месяц.</li>
            <li>На ранней стадии заболевания чувствуешь себя хорошо, и может казаться, что приём препаратов не нужен. <i><b>Но</b> никогда точно не известно, сколько продлится бессимптомная стадия – может быть, ещё несколько лет, а может, лишь несколько месяцев.</i></li>
            <li>Всю жизнь нужно будет принимать таблетки по часам – носить их с собой и не забывать принимать при любых обстоятельствах. <i>Для напоминаний о необходимости принять таблетки можно использовать специальные программы для смартфонов (в разделе «Полезные ссылки» можно ознакомиться с примерами таких программ).</i></li>
            <li>У АРВ-препаратов могут быть разные побочные эффекты. <i><b>Но</b>, как правило, побочные эффекты проявляются только в процессе подбора схемы лечения и привыкания к препаратам – то есть в первое время приёма ВААРТ. Когда врач подберёт Вам индивидуальную схему лечения и Вы адаптируетесь к ней, Ваше самочувствие начнёт улучшаться.</i></li>
            <li>Если принимать таблетки нерегулярно, может выработаться устойчивость ВИЧ к лекарству, и нужно будет подбирать другую схему лечения. <i><b>Но</b> соблюдение режима приёма препаратов предотвратит возникновение подобных проблем.</i></li>
            <li>Может создаться ложное впечатление, что хорошее самочувствие не связано с приёмом ВААРТ, и появится соблазн бросить терапию. <i>Но этим Вы лишь усложните себе жизнь: когда Ваше здоровье в очередной раз ухудшится, Вам будет сложнее подобрать новую схему лечения, так как уже выработается устойчивость вируса к препаратам, приём которых Вы прекратили.</i></li>
        </ul>
    </div>
    <div>
    <h4>Положительные стороны:</h4>
        <ul  class="plus">
            <li>Приём ВААРТ – на данный момент единственный надёжный способ улучшить своё самочувствие и продлить жизнь.</li>
            <li>Регулярный приём препаратов улучшает состояние Вашего иммунитета и значительно увеличивает шансы прожить долгую и полноценную жизнь.</li>
            <li>Регулярный приём терапии предохраняет от передачи вируса другим людям. ВААРТ снижает количество вируса в Вашем организме до неопределяемого уровня, и Вы становитесь безопасны для своего полового партнёра, как для ВИЧ-отрицательного, так и для ВИЧ-положительного.</li>
            <li>Своевременное начало приёма ВААРТ предотвращает развитие сопутствующих заболеваний (например, туберкулёза) и останавливает прогрессирование Ваших хронических заболеваний.</li>
            <li>Своевременное начало терапии позволяет родить здорового ребёнка.</li>
            <li>Препараты для ВААРТ выдаются бесплатно в Центре СПИД при условии постановки на учёт и регулярного посещения врача.</li>
            <li>Регулярный приём препаратов снижает вероятность мутации вируса в организме.</li>
            <li>Соблюдение режима приёма ВААРТ снижает вероятность того, что нужно будет менять схему лечения, а следовательно, и возникновения проблемы привыкания к новой схеме лечения, имеющей другие побочные эффекты.</li>
        </ul>
    </div>
</div>
<br />
<div class="video_stub"><div class="video_desc">Приверженность к лечению – тема обширная, вызывающая множество обсуждений и, зачастую, противоречий, и крайне важная для здоровья и благополучия ВИЧ-положительных людей. В следующем видео опытный врач обобщит для Вас всю представленную выше информацию, рассказав, почему же так важно соблюдать приверженность к АРВ-терапии с медицинской точки зрения.</div><iframe src="https://www.youtube.com/embed/5dThvElwjRQ?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<br />
<div class="parallax2" style="background-image: url(/img/pics/5_2.png);"></div>
<br />
<input type="checkbox" id="accept" name="accept" ng-model="$parent.accepted"/>
<label class="int_accept" for="accept"><b>Я ознакомился со всеми материалами этой части программы, которые мне были предоставлены на данной веб-странице</b></label>
<br /><br /></div>