

  <link rel="stylesheet" href="styles/intervention.css" />

<div class="parallax" style="background-image: url(/img/pics/4_1.png);"></div>
  <h2 class="int_heading">Правовые вопросы</h2>
<div class="intervention_content">
<p  class="section_start">Некоторые ВИЧ-положительные люди могут сталкиваться в жизни с ситуациями, когда нарушаются их права. В таких случаях важно понимать, что Вы можете отстаивать необходимость соблюдения своих прав. В следующих видео Вы увидите, как это можно делать.</p>
<br />
<div class="video_stub"><iframe src="https://www.youtube.com/embed/SR9GzQn6hjU?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<br />
<div class="video_stub"><div class="video_desc">Если Вы столкнулись с ситуацией нарушения своих прав в связи с ВИЧ-инфекцией, Вам может потребоваться юридическая поддержка. В настоящее время Некоммерческое Партнерство «Е.В.А.» реализует проект, целью которого является оказание помощи людям, живущим с ВИЧ, в отстаивании своих прав. Подробнее об этом проекте Вы можете узнать, посмотрев следующее видео.</div><iframe src="https://www.youtube.com/embed/pyM5MHg3ZYM?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<div class="video_stub"><div class="video_desc">Если были нарушены Ваши права в медицинской сфере, Вы можете обратиться за помощью к представителям движения «Пациентский контроль». В следующем видео Вы узнаете, в каких ситуациях Вы можете получить помощь и что для этого нужно.</div><iframe src="https://www.youtube.com/embed/dJ1Zr0vhaEY?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>

<div ng-if="test_result['conceive'] == 1 || test_result['children'] == 1">
    <br />
    <div class="video_stub"><iframe src="https://www.youtube.com/embed/uiIB7E2yyDA?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
    <br />
</div>
<div class="parallax ng-scope" style="background-image: url(/img/pics/4_2.png);"></div>
  <p class="int_accept_box">
<input type="checkbox" id="accept" name="accept" ng-model="$parent.accepted"/>
<label  class="int_accept" for="accept"><b>Я ознакомился со всеми материалами этой части программы, которые мне были предоставлены на данной веб-странице</b></label>
</p>
</div>