<h2 class="int_heading">Правовые вопросы</h2>

<p>Некоторые ВИЧ-положительные люди могут сталкиваться в жизни с ситуациями, когда нарушаются их права. В таких случаях важно понимать, что Вы можете отстаивать необходимость соблюдения своих прав. В следующих видео Вы увидите, как это можно делать.</p>
<br /><img src="/img/pics/4_1.png" class="illustration" >
<div class="video_stub"><iframe src="https://www.youtube.com/embed/SR9GzQn6hjU?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<br />
<div class="video_stub"><iframe src="https://www.youtube.com/embed/pyM5MHg3ZYM?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<div class="video_stub"><iframe src="https://www.youtube.com/embed/dJ1Zr0vhaEY?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>

<div ng-if="test_result['conceive'] == 1 || test_result['children'] == 1">
    <br />
    <div class="video_stub"><iframe src="https://www.youtube.com/embed/uiIB7E2yyDA?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
    <br />
</div>
<img src="/img/pics/4_2.png" class="illustration">
<label  class="int_accept">><input type="checkbox" id="accept" name="accept" ng-model="$parent.accepted"/><b>Я ознакомился со всеми материалами этой часть программы, которые мне были предоставлены на данной веб-странице</b></label>