  <link rel="stylesheet" href="styles/intervention.css" />
  <div class="parallax" style="background-image: url(/img/pics/7_1.png);"></div>
<h2 class="int_heading">Употребление наркотиков</h2>
<div class="intervention_content">
<p class="section_start" >Некоторые люди употребляют наркотики, в том числе и ВИЧ-положительные люди. У каждого человека своя история начала и опыта употребления, а также попыток отказа. Важно понимать, как употребление наркотиков влияет на течение ВИЧ-инфекции, и на что нужно обращать особое внимание ВИЧ-положительному человеку, употребляющему наркотики.</p>
<br />
<div class="video_stub"><iframe src="https://www.youtube.com/embed/fVylZKH2MSI?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<br />
<p>Каждый человек, употребляющий наркотики, сам принимает решение об отказе от употребления. Не важно, много раз Вы уже пробовали прекратить употребление или ни разу. Каждая попытка может стать успешной, если Вы сами принимаете это решение, понимая все его возможные последствия.</p>
<h2 class="int_heading">Употребление наркотиков</h2>

<div class="multicol">
    <div>
    <h4>Положительные стороны:</h4>
        <ul  class="plus">
            <li>Состояние непосредственно после употребления дозы. <i><b>Но</b> когда действие наркотика на организм заканчивается, Вам так плохо, как никогда бы не было, если бы Вы не употребляли наркотики.</i></li>
            <li>Единственная проблема в жизни – как достать дозу. Других проблем не существует. <i><b>Но</b>, по сути, кроме наркотика, в Вашей жизни больше ничего и не существует.</i></li>
            <li>Есть способы снижения риска для здоровья при использовании совместного оборудования для употребления наркотиков (шприцы, иглы, посуда, вода, фильтр). <i>Ниже Вы можете узнать об этих способах.</i></li>
            <li>Во время активного употребления наркотиков Вы можете не замечать проблем со здоровьем. <i><b>Но</b> без регулярного наблюдения у врача и выполнения врачебных рекомендаций ВИЧ постепенно разрушает организм и приближает смерть.</i></li>
            <li>Употребление наркотиков не препятствует назначению ВААРТ. <i><b>Но</b> при употреблении наркотиков и приёме ВААРТ нагрузка на печень в 2 раза выше. Кроме того, употребление наркотиков может отрицательно сказаться на соблюдении режима приёма АРВ-препаратов и приверженности к лечению.</i></li>
        </ul>
    </div>
    <div>
        <h4>Отрицательные стороны:</h4>
        <ul  class="minus">
            <li>Когда действие наркотика на организм заканчивается, Вам так плохо, как никогда бы не было, если бы Вы не употребляли наркотики.</li>
            <li>Жизнь превращается в квест как «найти дозу». При этом есть большая вероятность появления проблем с правоохранительными органами.</li>
            <li>Получить удовольствие можно только от употребления наркотика. Другие удовольствия в жизни не существуют.</li>
            <li>Употребление наркотиков – не решение проблем, а уход от них. Проблем становится все больше и больше.</li>
            <li>Если кто-то из Вашего окружения узнает о том, что Вы употребляете наркотики, их отношение к Вам сразу ухудшается.</li>
            <li>Отсутствие полноценных близких отношений с кем бы то ни было. Отсутствие доверия со стороны семьи. Нет друзей, есть только партнёры по употреблению.</li>
            <li>Наркотики всегда на первом плане, времени и сил на заботу о своём здоровье не остаётся. А без регулярного наблюдения у врача и выполнения врачебных рекомендаций ВИЧ постепенно разрушает организм и приближает смерть</li>
            <li>При приёме терапии – если не знать о взаимодействии наркотиков с ВААРТ, можно случайно устроить себе передозировку. <i>Информацию о взаимодействии АРВ-препаратов и наркотиков можно получить в калькуляторе на сайте ARVT.ru.</i></li>
            <li>Вам будет сложнее получить лечение по поводу гепатита С, так как зачастую отказ от употребления наркотиков является условием для назначения лечения.</li>
            <li>Предвзятое отношение со стороны врача, так как некоторые врачи считают, что употребление наркотиков несовместимо с приверженностью к лечению. По этой причине Вам могут назначить более дешёвые препараты. </li>
            <li>При употреблении наркотиков и приёме ВААРТ нагрузка на печень в 2 раза выше. По этой же причине может быть сложно подобрать схему лечения.</li>
            <li>Вы можете передать ВИЧ-инфекцию людям, с которыми вместе употребляете наркотики, если используете общее оборудование.</li>
        </ul>
    </div>
</div>
<p>Некоторые люди, употребляющие наркотики, не привыкли задумываться о своём здоровье. Но здоровье ВИЧ-положительного человека оказывается более уязвимым. Важно понимать, как Вы можете влиять на свой уровень риска при употреблении наркотика и, соответственно, на своё здоровье.</p>
<p>В определённый момент жизни ВИЧ-положительного человека приходит время для назначения лечения - ВААРТ. Некоторые люди не готовы отказаться от употребления наркотиков, хоть это и рекомендуется при назначении лечения. Но при этом важно понимать, как употребление наркотиков может снижать эффективность ВААРТ.</p>
<br />
<div class="video_stub"><iframe src="https://www.youtube.com/embed/u_pNTVqVHl8?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
<br />

<p>
<input type="checkbox" id="accept" name="accept" ng-model="$parent.accepted"/ >
<label class="int_accept" for="accept">
<b> Я ознакомился со всеми материалами этой части программы, которые мне были предоставлены на данной веб-странице</b>
</label>
</p>
</div>