<div class="info">
    <a href="/developers">Информация о программе и разработчиках</a><br>
    &copy; Санкт-Петербургский государственный университет
</div>
<style>
.hiv {
height:57px;
width:44px;
background: url(img/banners/hivspb-hover.png);
background-size: cover;
}
.hiv:hover {
background: url(img/banners/hivspb.png);

background-size: cover;
}
.eva {
width:45px;
height:57px;
background: url(img/banners/eva-hover.png);

background-size: cover;
}
.lenobl {
width:82px;
height:57px;
background: url(img/banners/lo-hover.png);

background-size: cover;
}
.arvt {

height:57px;
background: url(img/banners/arvt-hover.png);

background-size: cover;
}
.eva:hover {

height:57px;
background: url(img/banners/eva.png);

background-size: cover;
}
.lenobl:hover {

height:57px;
background: url(img/banners/lo.png);

background-size: cover;
}
.arvt:hover {

height:57px;
background: url(img/banners/arvt.png);

background-size: cover;
}
</style>
 <div class="banners">
    <a href="http://www.hiv-spb.ru/" target="_blank" ><img src="img/spacer.png" class="hiv" alt="Центр по профилактике и борьбе 
со СПИД и инфекционными заболеваниями (СПб)"></a>
    <a href="http://evanetwork.ru/ru/" target="_blank"><img src="img/spacer.png" class="eva" alt="E.B.A."></a>
    <a href="http://www.lenoblspid.ru/" target="_blank"><img src="img/spacer.png" class="lenobl" alt="Центр по профилактике и борьбе со СПИД и инфекционными заболеваниями (Ленинградская область)"></a>
    <a href="http://arvt.ru/" target="_blank"><img src="img/spacer.png" class="arvt" alt="Антиретровирусная терапия онлайн"></a>
</div>
