<div class="info">
    <a href="/developers">Информация о программе и разработчиках</a><br>
    &copy; Санкт-Петербургский государственный университет
</div>
 <div class="banners">
    <a href="http://www.hiv-spb.ru/" target="_blank" class="hiv"><img src="img/banners/hivspb-hover.png"></a>
    <a href="http://evanetwork.ru/ru/" target="_blank" class="eva"><img src="img/banners/eva-hover.png"></a>
    <a href="http://www.lenoblspid.ru/" target="_blank" class="lenobl"><img src="img/banners/lo-hover.png"></a>
    <a href="http://arvt.ru/" target="_blank" class="arvt"><img src="img/banners/arvt-hover.png"></a>
</div>