div.container.blocks {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 320px;
}

    .blocks a {
        display: inline-flex;
        flex-grow: 1;
        margin-right: 20px;
        margin-bottom: 20px;
        text-decoration: none;
    }

    .blocks .block {
        position: relative;
        display: flex;
        width: 100%;
        border: 1px solid #e1e7ef;
        flex-flow: column wrap;
        align-items: center;
        box-sizing: border-box;
        padding: 28px 48px;
        color: #444444;
        cursor: pointer;
        border-radius: 2px;
        transition: all ease 50ms;
    }

        .block .icon {
            position: absolute;
            top: 9px;
            right: 12px;
            color: #cad4e0;
        }

        .block:hover {
            border: 1px solid #bdc3ca;
        }

        .block .id {
            margin-bottom: 16px;
            font-weight: 200;
            font-size: 14px;
        }

        .block .name {
            font-weight: 400;
        }

aside.hidden {
    animation: hide-aside 1.6s;
    animation-delay: 50ms;
    animation-fill-mode: forwards;
}

div.container.translated {
    animation: translate-content 1.6s;
    animation-delay: 50ms;
    animation-fill-mode: forwards;
}


@keyframes hide-aside {
    0% { left: 0px; }
    100% { left: -260px; }
}

@keyframes translate-content {
    0% { padding-left: 308px; }
    100% { padding-left: 48px; }
}