@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


form.enter-form,
form.register-form {
    width: 40%;
    margin: 0 auto;
}

    textarea {
            display: block;
    box-sizing: border-box;
    padding: 9px 12px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    width: 45%;
    /* min-height: 120px; */
    margin-bottom: 14px;
    margin-left: 5%;
    resize: vertical;
    color: #444444;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 1.4em;
    }

    label {
        font-family: 'Open Sans';
        display: block;
        margin-bottom: 7px;
    }

    input {
        display: block;
        margin-bottom: 12px;
        border-radius: 3px;
        box-sizing: border-box;
        font-family: 'Open Sans';
        font-size: 13px;
    }

        input[type="text"],
        input[type="password"],
        input[type="email"]{
            padding: 9px 12px;
            border: 1px solid #c9c9c9;
            width: 100%;
            color: #444444;
        }

        input[type="number"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        input[type="submit"] {
               
				background: #3fa16e;
				border: 0;
				color: #ffffff;
				padding: 9px 16px;
    cursor: pointer;
    display: inline-block;
    margin: 5%;
    font-size: 25pt;
    width: 90%;
        }
		
        .register-form  input[type="submit"], a.green {
    background: #3fa16e;
    border: 0;
    color: #ffffff;
    padding: 2%;
    cursor: pointer;
    display: inline-block;
    margin: 0; 
    width: 100%;
    font-size: 175%;
	     }
        input[type="text"]::after {
            font-family: "Material Icons";
            font-size: 24px;
            content: "";
            color: #000000;
        }

            input[type="submit"]:hover {
                background: #378f61;
            }

    .correct::after {
        font-family: "Material Icons";
        font-size: 24px;
        content: "check";
        color: #000000;
    }

    .incorrect::after {
        font-family: "Material Icons";
        font-size: 24px;
        content: "close";
        color: #000000;
    }
	.incorrect {
	border: 1px solid red;
    background-color: #ffebeb;
	}
	input[type="checkbox"] {
	
    margin-right: -2px;
	}
	