.intervention {
    width: auto;
    background-color: transparent;
}
.intervention p, .intervention i , .intervention div{
     font-size: 17pt;
    margin: 0px;
	
    font-weight: 200;
}
div.container.block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #e1d0e8;
    padding: 1% 12% !important;
}
div.video_stub {
  display: block;
    margin: auto;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    font-size: 17pt;
    margin-top: 35px; 
}

div.adv,
div.disadv {
    font-size: 14px;
    line-height: 23.8px;
}

.green, input[type="submit"].green, button.green {
    background: #3fa16e;
    color: #fdfdfd;
    font-size: 20pt;
    font-weight: 700;
    float: right;
	width: 100%;
}
.nomoretoday{
    font-size: 20pt;
    font-weight: 700;
    float: right;
	background:#e8e8e8;
	    width: 100%;
}
.nomoretoday:hover{
background:#b9b9b9;
}
.green:hover {
    background: #378f61;
}

.green:disabled {
    background: #46494d;
    cursor: default;
}

.intervention label {
    line-height: 23.8px;
    display: inline;
    vertical-align: text-top;
}

    .intervention label.spoiler {
        color: #177DFF;
        padding-bottom: 2px;
		margin-left: 7%;
        border-bottom: 1px dashed #177DFF;
        cursor: pointer;
    }

        .intervention label.spoiler:hover {
            border-bottom: 1px solid #177DFF;
        }
.intervention div.spoiler {
background-color: #e9f6ff;
    border-top: 5px solid #dcf0ff;
	}
.intervention input[type="checkbox"] {
    display: inline;
    vertical-align: text-top;
    margin-right: 10px;
}

    .intervention input[type="checkbox"].spoiler {
        display: none;
    }

div.multicol {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

    div.multicol > div:first-of-type {
         margin: 0;
    }

.intervention ul{
    padding: 0;
    margin: 0 0 25px 0;
}

    .intervention ul li {
         line-height: 160%;
    vertical-align: middle;
    padding: 1% 1% 1% 4%;
    /* margin: 5% 5%; */
    /* background-size: 10%; */
    }
.int_heading {
    font-size: 50pt;
    font-weight: bold;
    font-family: 'Calibri';
    margin: 0;
	    position: absolute;
    bottom: 4%;
    background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(255,208,232,1));
    background: -o-linear-gradient(bottom,rgba(255,0,0,0),rgba(255,208,232,1));
    background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(255,208,232,1));
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(225, 208, 232));
    width: 100%;
}
ul.minus {
list-style: none;
}
ul.plus {
list-style: none;
}
.intervention ul.minus li {

 url(/img/checkmark-red.png) no-repeat 1% 20px;
    background-size: 2%;
}
.intervention ul.plus li {
url(/img/checkmark.png) no-repeat 1% 20px;
    background-size: 2%;
}
.intervention h4 {
text-align: center;
}
.illustration {
width: 100%;
}
.illustration_dual {

    width: 49%;
    position: relative;
}
.consultant {
font-family: 'Bad Script', cursive;
    background: url(http://img13.deviantart.net/9ad9/i/2013/319/b/a/yellow_paper_by_lukeaustinart-d6ucigl.jpg) no-repeat 0 0;
    color: #002f75;
    padding: 3% 0 3% 3%;
     left: 0%; 
    width: 100%;
    /* position: relative; */
}
.consultant p, .consultant i {

    font-size: 25px;
}
.remark {
    font-family: serif;
    font-size: 9pt;
    line-height: 17px;
    display: block;
}
.accept {
font-size: 18pt;
padding: 5%;
}
p {
/* padding: 0 7%;*/
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}
.video_desc {    
    margin: 1% 0 !important;
    line-height: 180%;
    border-left: 4px solid #3c89fd;
    background: #eaf2ff;
    padding-left: 1%;
}
/*
div.container.ng-scope {
    padding: 1% 10% !important;
    box-sizing: border-box;
    width: 100%;
}
*/
.intervention_content {
       padding: 3% 5% 1% 5%;
		background: #fff;
}
.parallax { 
height: 90vh;
    /* min-height: 100vh; */
    /* width: 125%; */
    background-color: #e1d0e8;
    /* left: -25%; */
    /* position: fixed; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
       background-size: 75%;
}
.section_start {
    border-left: 4px solid #67ca67;
    padding-left: 1%;
    display: block;
    background: #ebffe7;
}

.parallax2 { 
height: 90vh;
    /* min-height: 100vh; */
    /* width: 125%; */
    /* left: -25%; */
    /* position: fixed; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
       background-size: 75%;
}
